MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=<db_name>
PORT=<serverport>
JWT_SECRET=<secret_long_string>
JWT_EXPIRY_HOURS=24
GIN_MODE=debug
# or release
#ALLOWED_ORIGINS=http://localhost:3000,http://localhost:<serverport>
AUTH_ACCESS_COOKIE=access_token
AUTH_REFRESH_COOKIE=refresh_token

REFRESH_TOKEN_EXPIRY_DAYS=30
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
